$clr-primary: #7ed56f;
$clr-primary-light: #55c57a;
$clr-primary-dark: #28b485;

$clr-secondary-light: #ffb900;
$clr-secondary-dark: #ff7730;

$clr-tertiary-light: #2998ff;
$clr-tertiary-dark: #5643fa;

$clr-black: #000;

$clr-gray-light-1: #f7f7f7;
$clr-gray-light-2: #eee;
$clr-gray-dark: #777;
$clr-gray-darker: #999;

$clr-white: #fff;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
